/* <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> --> */

/* <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> --> */ */

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.8rem;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    width: 85%;
}
.navbar-nav .nav-link:hover{
    color:#FF4240;
}
.btn{
    background: #FF4240;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
.btn:hover{
    border-radius: 5px;
    border-color: #FF4240;
    color: white;
    background-color: #c02f2c;

}
.search-btn{
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}
.search-btn:hover{
    color: #FF4240;
}
.search-input{
    display: none;
}

.carousel-img{
    margin: 50px auto;
    height: auto;
    width: 90%;
    display: block;
}
.arrows{
    position: absolute;
    top: 80%;
    right: 87%;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: #FFFFFF;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    transition: .5s;
    margin-left: 10px;
}
.arrows button:hover{
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    color: white;
}
.carousel-caption-box {
    color: #0e0d0d;
    position: absolute;
    background-color: black;
    font-size: 18px;
}
.dash-border{
    border-top: 2px dashed #e0e0e0;
    border-bottom: 2px dashed #e0e0e0;
    margin: 60px;
    padding-top: 50px;
}
.text{
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
}
.text h2{
    margin-bottom: 30px;
}
.text h6{
    color: #131318;
    margin: 0;
}
.cnt{
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
}
.progress-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.progress{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #0e0d0d;
    background: linear-gradient(to left, #E7E7E8 50%, var(--clr) 0);
}
.progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    z-index: 1;
    font-weight: 500;
}
.progress h3 span{
    font-size: 1em;
    font-weight: 500;
}
.progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: white;
}
.progress::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--clr);
    transform: rotate(calc(var(--i) * 3.6deg));
}
.progress-container h5{
    font-size: 1.3em;
    margin-top: 20px;
}
.progress-container h6{
    font-size: 0.8em;
    margin-top: 15px;
}
.card-two{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 50px;
}
.card-title{
    margin-left: 20px;
    padding-top: 50px;
    font-size: 2em;
}
.card-title-prime{
    margin-top: 200px;
    margin-left: 20px;
    font-size: 2em;
}
.card-text{
    margin-left: 20px;
    color: #FFFFFF;
}
.program-btn{
    margin-left: 20px;
    cursor: pointer;
    color: white;
}
.program-btn:hover{
    background-color: #c02f2c;
    color: white;
}
.card-img-overlay{
    background-color: rgba(63, 61, 61, 0.7);
}
.card-img-overlay:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
.own-card{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}
.product-image {
    border-radius: 10px;
    border: 1px solid transparent;
}
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.product-price {
    color: red;
    font-weight: bold;
}
.st{
    color: #F99808;
}
.ey{
    color: #8e8d8d;
}
.product-rating span {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}
.product-details {
    margin-top: 0;
    padding-left: 0;
}
.product-price{
    margin-right: 20px;
}
.question{
    border: 1px solid #ddd;
    border-radius: 10px;
}
.qns{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.bx{
    margin: 100px;
}
.lft-bx{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-right: 60px;
}
.box-one{
    border-radius: 10px;
    background-color: #edf4e1;
}
.box-two{
    border-radius: 10px;
    background-color: #fff8da;
}
.box-three{
    border-radius: 10px;
    background-color: #dae8fd;
}
.row.nm-em {
    margin-bottom: 20px;
}
.custom-input-size{
    width: 20em;
    height: 3em;
    background-color: #f5f2f2;
    border: transparent;
}
.custom-input-size::placeholder{
    color: #aeadad;
}
.custom-msg-size{
    width: 100%;
    height: 20em;
    border-radius: 10px;
    background-color: #f5f2f2;
    border: transparent;
}
.custom-msg-size::placeholder{
    color: #aeadad;
}
.snd{
    width: 100%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.snd:hover{
    color: red;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}
.social-media{
    margin: 100px;
    margin-top: 0;
    height: 120px;
    border: transparent;
    border-radius: 10px;
    background-color: #f8f6f6;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.social-media-icon{
    justify-content: center;
    gap: 25px;
}
.cll-img{
    margin-right: 10px;
}
.list-group-item{
    background-color: transparent;
    color: white;
    border: none;
}